

.about{
	color: royalblue ;
}
.a{
	color: green;
	text-align: center;
}
.c{
	color: green;
	text-align: center;
	margin-left: 300px;
}
.d{
	float: right;
}

 .f{
 	float: right;
}
.g{
	float: right;
	
}


  .container{
  	padding: 100px;
  	color: white;
  	font-family: sans-serif;
  	background-color: green;
  	text-align: center;
  	position: relative;
  	height: 300px;
  	  }
.main{
	text-align: center;
	font-size: 70px;
  }
  .e{
  	float: left;
  }
  .h{
  	float: left;
  }
  .i{
  	float: left;
  }
